@use "../../scss/themes.scss";
@use "../../scss/base/colors.scss";
@use "../../scss/mixins/any.scss";

.validation__messages {
  @include any.rc-component;

  list-style-type: none;
  margin: 0;
  padding: 10px;
  padding-right: 18px;
  background: #f8f8f8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border-left: 3px solid;
  min-width: 60px;
  display: block;
}

.validation__messages--required {
  border-color: colors.$required;
}

.validation__messages--invalid {
  border-color: colors.$danger;
}

.validation__messages--valid {
  border-color: colors.$success;
}

.validation__messages--unknown {
  border-color: #ddd;
}

.validation__message {
  @include any.rc-component;

  display: flex;
  align-items: center;
  font-size: 12px;
  color: colors.$dark-gray;
  min-width: 60px;
}

.validation__message--invalid {
  fill: colors.$danger;
}

.validation__message--valid {
  fill: colors.$success;
  text-decoration: line-through;
  stroke: none;
}

.validation__message__text {
  white-space: nowrap;
}

.validation__message__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.validation__message__icon {
  animation: fadeInValidationMessageIcon 0.2s ease-out;
  fill: inherit;
}

.validation__message__icon--unset {
  animation: fadeInValidationMessageIcon 0.2s ease-out;
  height: 6px;
  width: 6px;
  margin: 7px;
  border-radius: 3px;
  display: flex;
  background: #ddd;
}
