@use "../../../scss/mixins/any.scss";
@use "../../../scss/base/input.scss";
@use "../../../scss/functions.scss";
@use "../../../scss/themes.scss";
@use "sass:map";

.rc-dropdown__item {
  @include any.rc-component;

  padding: 8px 10px;
  color: #333;
  cursor: pointer;
}

@each $kind in themes.$kinds {
  .rc-dropdown__item--#{$kind} {
    &:hover {
      background: map.get(themes.$colors--dark, $kind);
      color: map.get(themes.$colors--opposite, $kind);
    }
  }
}

.rc-dropdown__item--small {
  padding: 6px 10px;
  font-size: functions.inputfontsize(input.$size--small);
}

.rc-dropdown__item--medium {
  padding: 8px 13px;
  font-size: functions.inputfontsize(input.$size--medium);
}

.rc-dropdown__item--large {
  padding: 10px 16px;
  font-size: functions.inputfontsize(input.$size--large);
}

@keyframes fadeInOverlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
