@use "sass:map";
@use "../../../scss/mixins/any.scss";
@use "../../../scss/mixins/form.scss";
@use "../../../scss/base/input.scss";
@use "../../../scss/themes.scss";

$item-sizes: "extra-small", "small", "medium", "large";

.rc-dropdown__item {
  @include any.rc-component;
  @include form.font-size--bySize($item-sizes);
  @include form.paddings--bySize($item-sizes, 3, 4);

  padding: 8px 10px;
  color: #333;
  cursor: pointer;
  align-items: center;
  display: flex;
}

@each $kind in themes.$kinds {
  .rc-dropdown__item--#{$kind} {
    &:hover {
      background: map.get(themes.$colors--dark, $kind);
      color: map.get(themes.$colors--opposite, $kind);
    }
  }
}

@keyframes fadeInOverlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
