@use "../base/fonts.scss";

@mixin rc-component {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-family: fonts.$family, fonts.$family-fallback;
  letter-spacing: fonts.$letter-spacing;
  -webkit-font-smoothing: antialiased;
}
