@use "../base/fonts.scss" as *;
@use "../functions.scss" as *;
@use "./input.scss";

@mixin icon {
  flex: 0 0 auto;
  fill: #999;
  margin-left: 5px;
}

@mixin rc-field-input {
  &--small {
    font-size: inputfontsize(input.$size--small);
  }

  &--medium {
    font-size: inputfontsize(input.$size--medium);
  }

  &--large {
    font-size: inputfontsize(input.$size--large);
  }
}
