@use "../base/fonts.scss" as *;
@use "../functions.scss" as *;
@use "./inputs.scss" as *;


@mixin rc-field-icon {
  flex: 0 0 auto;
  fill: #999;
  margin-left: 5px;
}

@mixin rc-field-input {
  &--small {
    font-size: inputFontSize($input-size--small);
  }
  &--medium {
    font-size: inputFontSize($input-size--medium);
  }
  &--large {
    font-size: inputFontSize($input-size--large);
  }
}