@import "../scss/vars/colors.scss";
@import "../scss/vars/shadow.scss";
@import "../scss/vars/transitions.scss";
@import "../scss/vars/general.scss";
@import "../scss/vars/fonts.scss";
@import "../scss/items/input.scss";

.input-button {
  @extend .rc-component;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  display: inline-block;
  flex: 0 0 auto;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  transition: $button__main-transition;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  border: 1px solid;
  align-items: center;
  color: $color__white;
  fill: $color__white;
  stroke: $color__white;
  border-bottom-width: 2px;

  box-shadow: $shadow-size--closed transparent;

  &:not(.input-button--noFill) {
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
  &:hover,
  &:focus {
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    &:active {
      border-bottom-color: transparent;
    }
  }

  &:active {
    color: $color__alpha-3;
    fill: $color__alpha-3;
    stroke: $color__alpha-3;
  }
}

.input-button__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-button__icon {
  display: flex;
  fill: inherit;
  stroke: inherit;
}
.input-button__icon--left {
  margin-right: 5px;
  margin-left: 0px;
}
.input-button__icon--right {
  margin-right: 0px;
  margin-left: 5px;
}

.input-button--extra-small {
  padding: 2px 4px;
  font-size: 10px;
  height: 21px;
}
.input-button--small {
  padding: 6px 10px;
  font-size: 11px;
  height: 27px;
}
.input-button--medium {
  padding: 8px 13px;
  font-size: 12px;
  height: 33px;
}
.input-button--large {
  padding: 10px 16px;
  font-size: 14px;
  height: 39px;
}

.input-button--primary {
  background-color: $color__main-primary;
  border-color: $color__main-primary;

  &.input-button--noFill {
    background-color: transparent;
    color: $color__main-primary;
    fill: $color__main-primary;
    stroke: $color__main-primary;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--primary;
  }

  &:hover,
  &:focus {
    background-color: $color__main-primary--active;
    border-color: $color__main-primary--active;

    &.input-button--noFill {
      color: $color__white;
      fill: $color__white;
      stroke: $color__white;
    }
  }
}
.input-button--secondary {
  background-color: $color__main-secondary;
  border-color: $color__main-secondary;

  &.input-button--noFill {
    background: transparent;
    color: $color__main-secondary;
    fill: $color__main-secondary;
    stroke: $color__main-secondary;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--secondary;
  }

  &:hover,
  &:focus {
    background-color: $color__main-secondary--active;
    border-color: $color__main-secondary--active;

    &.input-button--noFill {
      color: $color__white;
      fill: $color__white;
      stroke: $color__white;
    }
  }
}

.input-button--success {
  background-color: $color__main-success;
  border-color: $color__main-success;
  color: $color__white;
  fill: $color__white;
  stroke: $color__white;

  &.input-button--noFill {
    background: transparent;
    color: $color__main-success;
    fill: $color__main-success;
    stroke: $color__main-success;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--success;
  }

  &:hover,
  &:focus {
    background-color: $color__main-success--active;
    border-color: $color__main-success--active;

    &.input-button--noFill {
      color: $color__white;
      fill: $color__white;
      stroke: $color__white;
    }
  }
}
.input-button--danger {
  background-color: $color__main-danger;
  border-color: $color__main-danger;
  color: $color__white;
  fill: $color__white;
  stroke: $color__white;

  &.input-button--noFill {
    background: transparent;
    color: $color__main-danger;
    fill: $color__main-danger;
    stroke: $color__main-danger;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--danger;
  }

  &:hover,
  &:focus {
    background-color: $color__main-danger--active;
    border-color: $color__main-danger--active;

    &.input-button--noFill {
      color: $color__white;
      fill: $color__white;
      stroke: $color__white;
    }
  }
}

.input-button--warning {
  background-color: $color__main-warning;
  border-color: $color__main-warning;

  &.input-button--noFill {
    background-color: transparent;
    color: $color__main-warning;
    fill: $color__main-warning;
    stroke: $color__main-warning;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--warning;
  }

  &:hover,
  &:focus {
    background-color: $color__main-warning--active;
    border-color: $color__main-warning--active;

    &.input-button--noFill {
      color: $color__white;
      fill: $color__white;
      stroke: $color__white;
    }
  }
}

.input-button--dark {
  background-color: $color__alpha-5;
  border-color: transparent;
  color: $color__white;
  fill: $color__white;
  stroke: $color__white;

  &.input-button--noFill {
    background-color: transparent;
    border-color: $color__alpha-5;
    color: $color__alpha-4;
    fill: $color__alpha-4;
    stroke: $color__alpha-4;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--dark;
  }

  &:hover,
  &:focus {
    background-color: $color__alpha-4;
    border-color: transparent;

    &.input-button--noFill {
      color: $color__white;
      fill: $color__white;
      stroke: $color__white;
    }
  }
}

.input-button--light {
  background-color: $color__white;
  border-color: transparent;
  color: $color__gray-5;
  fill: $color__gray-5;
  stroke: $color__gray-5;

  &.input-button--noFill {
    background-color: transparent;
    border-color: $color__white;
    color: $color__white;
    fill: $color__white;
    stroke: $color__white;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--light;
  }

  &:hover,
  &:focus {
    background-color: $color__white;
    border-color: transparent;
    color: $color__gray-4;

    &.input-button--noFill {
      color: $color__gray-5;
      fill: $color__gray-5;
      stroke: $color__gray-5;
    }
  }
}

.input-button--tertiary {
  background-color: $color__main-tertiary;
  border-color: $color__main-tertiary;
  color: $color__dark-gray-2;
  fill: $color__dark-gray-2;
  stroke: $color__dark-gray-2;

  &.input-button--noFill {
    border-color: $color__gray-4;
    background: transparent;
    color: $color__gray-5;
    fill: $color__gray-5;
    stroke: $color__gray-5;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--tertiary;
  }

  &:hover,
  &:focus {
    color: $color__dark-gray-2;
    fill: $color__dark-gray-2;
    stroke: $color__dark-gray-2;
    background-color: $color__main-tertiary--active;
    border-color: $color__main-tertiary--active;
  }
}

.input-button--disabled {
  opacity: $component-opacity--disabled;
  pointer-events: none;
  cursor: auto;
  background-color: $color__gray-2;
  border-color: $color__gray-2;
  color: $color__dark-gray-1;
  fill: $color__gray-5;
  stroke: $color__gray-5;

  &.input-button--noFill {
    border-color: $color__gray-2;
    background: transparent;
    color: $color__gray-5;
    fill: $color__gray-5;
    stroke: $color__gray-5;
  }
}

.input-button--primary,
.input-button--secondary,
.input-button--tertiary,
.input-button--danger,
.input-button--warning,
.input-button--dark,
.input-button--light {
  &:hover {
    &.input-button--noFill {
      &:active {
        color: $color__alpha-3;
        fill: $color__alpha-3;
        stroke: $color__alpha-3;
      }
    }
  }
  &:active {
    color: $color__alpha-3;
    fill: $color__alpha-3;
    stroke: $color__alpha-3;
  }
}
