@import "../../scss/base/colors.scss";
@import "../../scss/base/shadows.scss";
@import "../../scss/base/inputs.scss";
@import "../../scss/mixins.scss";

.rc-button {
  @include rc-component;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  display: inline-block;
  flex: 0 0 auto;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  transition: $button-transition;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  border: 1px solid;
  align-items: center;
  color: #fff;
  fill: #fff;
  stroke: #fff;
  border-bottom-width: 2px;

  box-shadow: $shadow-size--closed transparent;

  &:not(.rc-button--noFill) {
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
  &:hover,
  &:focus {
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    &:active {
      border-bottom-color: transparent;
    }
  }

  &:active {
    color: $color__alpha;
    fill: $color__alpha;
    stroke: $color__alpha;
  }
}

.rc-button__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rc-button__icon {
  display: flex;
  fill: inherit;
  stroke: inherit;
}
.rc-button__icon--left {
  margin-right: 5px;
  margin-left: 0px;
}
.rc-button__icon--right {
  margin-right: 0px;
  margin-left: 5px;
}

.rc-button--extra-small {
  padding: 2px 4px;
  font-size: 10px;
  height: 21px;
}
.rc-button--small {
  padding: 6px 10px;
  font-size: 11px;
  height: 27px;
}
.rc-button--medium {
  padding: 8px 13px;
  font-size: 12px;
  height: 33px;
}
.rc-button--large {
  padding: 10px 16px;
  font-size: 14px;
  height: 39px;
}

.rc-button--primary {
  background-color: $color__primary;
  border-color: $color__primary;

  &.rc-button--noFill {
    background-color: transparent;
    color: $color__primary;
    fill: $color__primary;
    stroke: $color__primary;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--primary;
  }

  &:hover,
  &:focus {
    background-color: $color__primary--light;
    border-color: $color__primary--light;

    &.rc-button--noFill {
      color: #fff;
      fill: #fff;
      stroke: #fff;
    }
  }
}
.rc-button--secondary {
  background-color: $color__secondary;
  border-color: $color__secondary;

  &.rc-button--noFill {
    background: transparent;
    color: $color__secondary;
    fill: $color__secondary;
    stroke: $color__secondary;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--secondary;
  }

  &:hover,
  &:focus {
    background-color: $color__secondary--light;
    border-color: $color__secondary--light;

    &.rc-button--noFill {
      color: #fff;
      fill: #fff;
      stroke: #fff;
    }
  }
}

.rc-button--success {
  background-color: $color__success;
  border-color: $color__success;
  color: #fff;
  fill: #fff;
  stroke: #fff;

  &.rc-button--noFill {
    background: transparent;
    color: $color__success;
    fill: $color__success;
    stroke: $color__success;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--success;
  }

  &:hover,
  &:focus {
    background-color: $color__success--light;
    border-color: $color__success--light;

    &.rc-button--noFill {
      color: #fff;
      fill: #fff;
      stroke: #fff;
    }
  }
}
.rc-button--danger {
  background-color: $color__danger;
  border-color: $color__danger;
  color: #fff;
  fill: #fff;
  stroke: #fff;

  &.rc-button--noFill {
    background: transparent;
    color: $color__danger;
    fill: $color__danger;
    stroke: $color__danger;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--danger;
  }

  &:hover,
  &:focus {
    background-color: $color__danger--light;
    border-color: $color__danger--light;

    &.rc-button--noFill {
      color: #fff;
      fill: #fff;
      stroke: #fff;
    }
  }
}

.rc-button--warning {
  background-color: $color__warning;
  border-color: $color__warning;

  &.rc-button--noFill {
    background-color: transparent;
    color: $color__warning;
    fill: $color__warning;
    stroke: $color__warning;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--warning;
  }

  &:hover,
  &:focus {
    background-color: $color__warning--light;
    border-color: $color__warning--light;

    &.rc-button--noFill {
      color: #fff;
      fill: #fff;
      stroke: #fff;
    }
  }
}

.rc-button--dark {
  background-color: $color__alpha--darker;
  border-color: transparent;
  color: #fff;
  fill: #fff;
  stroke: #fff;

  &.rc-button--noFill {
    background-color: transparent;
    border-color: $color__alpha--darker;
    color: $color__alpha--dark;
    fill: $color__alpha--dark;
    stroke: $color__alpha--dark;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--dark;
  }

  &:hover,
  &:focus {
    background-color: $color__alpha--dark;
    border-color: transparent;

    &.rc-button--noFill {
      color: #fff;
      fill: #fff;
      stroke: #fff;
    }
  }
}

.rc-button--light {
  background-color: #fff;
  border-color: transparent;
  color: $color__gray--darker;
  fill: $color__gray--darker;
  stroke: $color__gray--darker;

  &.rc-button--noFill {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--light;
  }

  &:hover,
  &:focus {
    background-color: #fff;
    border-color: transparent;
    color: $color__gray--dark;

    &.rc-button--noFill {
      color: $color__gray--darker;
      fill: $color__gray--darker;
      stroke: $color__gray--darker;
    }
  }
}

.rc-button--tertiary {
  background-color: $color__tertiary;
  border-color: $color__tertiary;
  color: $color__dark-gray--dark;
  fill: $color__dark-gray--dark;
  stroke: $color__dark-gray--dark;

  &.rc-button--noFill {
    border-color: $color__gray--dark;
    background: transparent;
    color: $color__gray--darker;
    fill: $color__gray--darker;
    stroke: $color__gray--darker;
  }

  &:active,
  &:focus {
    box-shadow: $shadow-size $shadow-color--tertiary;
  }

  &:hover,
  &:focus {
    color: $color__dark-gray--dark;
    fill: $color__dark-gray--dark;
    stroke: $color__dark-gray--dark;
    background-color: $color__tertiary--light;
    border-color: $color__tertiary--light;
  }
}

.rc-button--disabled {
  opacity: $input-opacity--disabled;
  pointer-events: none;
  cursor: auto;
  background-color: $color__gray--light;
  border-color: $color__gray--light;
  color: $color__dark-gray--lighter;
  fill: $color__gray--darker;
  stroke: $color__gray--darker;

  &.rc-button--noFill {
    border-color: $color__gray--light;
    background: transparent;
    color: $color__gray--darker;
    fill: $color__gray--darker;
    stroke: $color__gray--darker;
  }
}

.rc-button--primary,
.rc-button--secondary,
.rc-button--tertiary,
.rc-button--danger,
.rc-button--warning,
.rc-button--dark,
.rc-button--light {
  &:hover {
    &.rc-button--noFill {
      &:active {
        color: $color__alpha;
        fill: $color__alpha;
        stroke: $color__alpha;
      }
    }
  }
  &:active {
    color: $color__alpha;
    fill: $color__alpha;
    stroke: $color__alpha;
  }
}
