@import "./vars/fonts.scss";

.rc-component {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: $font__primary, $font__primary-fallback;
  letter-spacing: $font__primary-spacing;
}

.rc__inner-icon {
  flex: 0 0 auto;
  fill: #999;
  margin-left: 5px;
}
