@import "./vars/fonts.scss";

@mixin rc-component {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-family: $font__primary, $font__primary-fallback;
  letter-spacing: $font__primary-spacing;
  -webkit-font-smoothing: antialiased;
}
