@use "sass:map";
@import "../../scss/vars/colors.scss";
@import "../../scss/vars/shadow.scss";
@import "../../scss/vars/themes.scss";
@import "../../scss/base.scss";

.rc-pill {
  @include rc-component;
  border-radius: 20px;
  border: 2px solid;
  min-height: 24px;
  padding: 3px 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: initial;
}

.rc-pill--default {
  fill: #333;
  color: #333;
  border-color: #333;
  background-color: #eee;
}

@each $kind in $kinds {
  .rc-pill--#{$kind} {
    fill: map-get($theme-colors, $kind);
    color: map-get($theme-colors, $kind);
    border-color: map-get($theme-colors, $kind);
    background-color: lighten(map-get($theme-shadows, $kind), 10%);
  }
}

.rc-pill--inactive {
  border-color: transparent;
}

.rc-pill--active {
  border-color: inherit;
}

.rc-pill__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 2px;
}

.rc-pill__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0px 2px;
  cursor: initial;
}
