@import "../../scss/themes.scss";
@import "../../scss/base/colors.scss";
@use "sass:map";

.color-scheme {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  box-shadow: 0px 0px 30px -16px #000;
  font-size: 12px;
  font-family: Verdana;

  .variable {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .labels {
    background: rgba(0, 0, 0, 0.4);
    color: #eee;
    text-align: center;
    padding: 10px 0px;
  }
}

.color-scheme--tester {
  width: 200px;
  border-radius: 0px;
}

@each $kind in $kinds {
  .color-scheme--regular-#{$kind} {
    background: map-get($theme-colors, $kind);
  }

  .color-scheme--active-#{$kind} {
    background: map-get($theme-colors--light, $kind);
  }

  .color-scheme--darken-#{$kind} {
    background: map-get($theme-colors--dark, $kind);
  }

  .color-scheme--shadows-#{$kind} {
    background: map-get($theme-shadows, $kind);
  }
}

@each $type in "lighter", "lighter", "regular", "dark", "darker" {
  .color-scheme--#{$type}-blue {
    background: map-get($theme-color-blue, $type);
  }
  .color-scheme--#{$type}-dark-blue {
    background: map-get($theme-color-dark-blue, $type);
  }
  .color-scheme--#{$type}-green {
    background: map-get($theme-color-green, $type);
  }
  .color-scheme--#{$type}-orange {
    background: map-get($theme-color-orange, $type);
  }
  .color-scheme--#{$type}-red {
    background: map-get($theme-color-red, $type);
  }
  .color-scheme--#{$type}-gray {
    background: map-get($theme-color-gray, $type);
  }
  .color-scheme--#{$type}-dark-gray {
    background: map-get($theme-color-dark-gray, $type);
  }
  .color-scheme--#{$type}-alpha {
    background: map-get($theme-color-alpha, $type);
  }
}
