@use "../../../scss/components/field.scss";

.rc-indicator {
  @include field.icon;

  fill: inherit;
  margin-top: 1px;
  transform: rotateZ(90deg) rotateY(0deg);
  transition: all 0.2s linear;
}

.rc-indicator--open {
  transform: rotateZ(90deg) rotateY(180deg);
}
