@import "../scss/vars/colors.scss";
@import "../scss/base.scss";

.rc-tabs {
  outline: none;
  @include rc-component;
}

.rc-tabs--flexible {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.rc-tabs__tabs {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.rc-tabs__tab {
  flex: 0 1 auto;
  padding: 0px 10px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: $color__dark-gray-3;
  border-bottom: 3px solid $color__gray-2;
  transition: all 0.1s ease-out;
  cursor: pointer;

  &.rc-tabs__tab--flexible {
    flex-grow: 1;
  }

  &:hover:not(.rc-tabs__tab--disabled):not(.rc-tabs__tab--selected) {
    border-bottom-color: $color__gray-4;
  }
  &.rc-tabs__tab--selected {
    border-bottom-color: $color__main-primary;
    color: $color__main-primary;
  }
  &.rc-tabs__tab--focused {
    border-bottom-color: $color__main-primary--active;
    color: $color__main-primary--active;
  }
  &.rc-tabs__tab--disabled {
    color: $color__main-disabled;
    cursor: default;
  }
}

.rc-tabs__tab-panel {
  &.rc-tabs__tab-panel--flexible {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 0;
  }
}
