@use "../../scss/base/colors.scss";
@use "../../scss/mixins/any.scss";

.rc-tabs {
  @include any.rc-component;

  outline: none;
}

.rc-tabs--flexible {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.rc-tabs__tabs {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.rc-tabs__tab {
  flex: 0 1 auto;
  padding: 0 10px;
  height: 32px;
  font-size: 0.875rem;
  line-height: 32px;
  text-align: center;
  color: colors.$dark-gray;
  border-bottom: 3px solid colors.$gray--light;
  transition: all 0.1s ease-out;
  cursor: pointer;

  &.rc-tabs__tab--flexible {
    flex-grow: 1;
  }

  &:hover:not(.rc-tabs__tab--disabled):not(.rc-tabs__tab--selected) {
    border-bottom-color: colors.$gray--dark;
  }

  &.rc-tabs__tab--selected {
    border-bottom-color: colors.$primary;
    color: colors.$primary;
  }

  &.rc-tabs__tab--focused {
    border-bottom-color: colors.$primary--light;
    color: colors.$primary--light;
  }

  &.rc-tabs__tab--disabled {
    color: colors.$disabled;
    cursor: default;
  }
}

.rc-tabs__tab-panel {
  &.rc-tabs__tab-panel--flexible {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 0;
  }
}
