@use "sass:map";
@use '../base/input.scss';
@use '../base/colors.scss';
@use "../functions.scss";
@use "../base/flags.scss";

@mixin border-size {
  border: none;
  border-style: solid;
  border-radius: input.$border-radius;
  border-top-width: getbordersize("top");
  border-left-width: getbordersize("left");
  border-right-width: getbordersize("right");
  border-bottom-width: getbordersize("bottom");
}

@function getBorderColor($type) {
  @if (map.get(flags.$themed-borders, $type)) {
    @return input.$border-themed-color;
  }

  @return map.get(input.$border-colors, $type);
}

@function getBorderSize($type) {
  @if (map.get(flags.$themed-borders, $type)) {
    @return input.$border-themed-width;
  }

  @return map.get(input.$border-widths, $type);
}

@mixin border-color {
  border-top-color: getbordercolor("top");
  border-left-color: getbordercolor("left");
  border-right-color: getbordercolor("right");
  border-bottom-color: getbordercolor("bottom");
}

@mixin input {
  flex: 2 1 auto;
  vertical-align: middle;
  position: relative;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: colors.$dark-gray;
}

@mixin input-icon {
  flex: 0 0 auto;
  fill: #999;
  margin-left: 5px;
}

@mixin font-size--bySize($sizes) {
  @each $size in $sizes {
    &--#{$size} {
      font-size: functions.input-font-size(map.get(input.$sizes, $size));
    }
  }
}

@mixin height--bySize($sizes) {
  @each $size in $sizes {
    &--#{$size} {
      height: map.get(input.$sizes, $size);
    }
  }
}

@mixin paddings--bySize($sizes, $xRatio, $yRatio) {
  @each $size in $sizes {
    &--#{$size} {
      padding: functions.padding-size(
        map.get(input.$sizes, $size),
        $xRatio,
        $yRatio
      );
    }
  }
}
