@use "sass:map";
@use '../base/input.scss';
@use "../functions.scss";

@mixin border-size {
  border: none;
  border-style: solid;
  border-radius: input.$border-radius;
  border-left-width: input.$border-left-width;
  border-right-width: input.$border-right-width;
  border-top-width: input.$border-top-width;
  border-bottom-width: input.$border-bottom-width;
}

@mixin border-color {
  border-bottom-color: input.$border-bottom-color;
  border-right-color: input.$border-right-color;
  border-left-color: input.$border-left-color;
  border-top-color: input.$border-top-color;
}

@mixin font-size--bySize($sizes) {
  @each $size in $sizes {
    &--#{$size} {
      font-size: functions.input-font-size(map.get(input.$sizes, $size));
    }
  }
}

@mixin height--bySize($sizes) {
  @each $size in $sizes {
    &--#{$size} {
      height: map.get(input.$sizes, $size);
    }
  }
}
