@import "../vars/colors.scss";
@import "../vars/border.scss";
@import "../vars/background.scss";
@import "../vars/shadow.scss";
@import "../vars/general.scss";
@import "../vars/fonts.scss";

.mb-input * {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.mb-input__inner-icon {
  flex: 0 0 auto;
  fill: #999;
  margin-left: 5px;
}
