$color__primary: #4fc7e7 !default;
$color__secondary: #226291 !default;
$color__tertiary: #bbbbbb !default;
$color__success: #17bc65 !default;
$color__danger: #d1344e !default;
$color__warning: #f49935 !default;
$color__disabled: #d2d1d1 !default;
$color__dark: #333 !default;
$color__light: #eee !default;
$color__invalid: $color__danger !default;
$color__required: $color__warning !default;

$color__primary--light: lighten($color__primary, 10%) !default;
$color__secondary--light: lighten($color__secondary, 10%) !default;
$color__tertiary--light: lighten($color__tertiary, 10%) !default;
$color__success--light: lighten($color__success, 10%) !default;
$color__danger--light: lighten($color__danger, 10%) !default;
$color__warning--light: lighten($color__warning, 10%) !default;
$color__disabled--light: lighten($color__disabled, 10%) !default;
$color__dark--light: lighten($color__dark, 10%) !default;
$color__light--light: lighten($color__light, 10%) !default;
$color__invalid--light: $color__danger--light !default;
$color__required--light: $color__warning--light !default;

$color__primary--dark: darken($color__primary, 10%) !default;
$color__secondary--dark: darken($color__secondary, 10%) !default;
$color__tertiary--dark: darken($color__tertiary, 10%) !default;
$color__success--dark: darken($color__success, 10%) !default;
$color__danger--dark: darken($color__danger, 10%) !default;
$color__warning--dark: darken($color__warning, 10%) !default;
$color__disabled--dark: darken($color__disabled, 10%) !default;
$color__dark--dark: darken($color__dark, 10%) !default;
$color__light--dark: darken($color__light, 10%) !default;
$color__invalid--dark: $color__danger--dark !default;
$color__required--dark: $color__warning--dark !default;

$color__blue-1: #a7e8f9 !default;
$color__blue-2: #77d5ee !default;
$color__blue-3: $color__primary !default;
$color__blue-4: #2fafd1 !default;
$color__blue-5: #1a89a7 !default;

$color__dark-blue-1: #82bae2 !default;
$color__dark-blue-2: #3d85b9 !default;
$color__dark-blue-3: $color__secondary !default;
$color__dark-blue-4: #0a3a5c !default;
$color__dark-blue-5: #02182b !default;

$color__green-1: #aaf2cb !default;
$color__green-2: #33cc7a !default;
$color__green-3: $color__success !default;
$color__green-4: #0e8c48 !default;
$color__green-5: #174d30 !default;

$color__gray-1: #fcfcfc !default;
$color__gray-2: #e1e1e1 !default;
$color__gray-3: $color__tertiary !default;
$color__gray-4: #c4c4c4 !default;
$color__gray-5: #ababab !default;

$color__dark-gray-1: #6b6c6d !default;
$color__dark-gray-2: #58595a !default;
$color__dark-gray-3: #3a3b3c !default;
$color__dark-gray-4: #262728 !default;
$color__dark-gray-5: #121314 !default;

$color__alpha-1: rgba(0, 0, 0, 0.1) !default;
$color__alpha-2: rgba(0, 0, 0, 0.2) !default;
$color__alpha-3: rgba(0, 0, 0, 0.3) !default;
$color__alpha-4: rgba(0, 0, 0, 0.4) !default;
$color__alpha-5: rgba(0, 0, 0, 0.5) !default;

$color__white: #ffffff !default;
$color__yellow: #f2be24 !default;
$color__viridian: #00b49d !default;
$color__teal: #00b5d1 !default;
$color__navy: #178bea !default;
$color__indigo: #5e66f9 !default;
$color__violet: #9a63f9 !default;
$color__red: $color__danger !default;
