$blue: #4fc7e7 !default;
$dark-blue: #226291 !default;
$green: #19de6f !default;
$red: #d1344e !default;
$orange: #f49935 !default;
$gray: #bbb !default;
$dark-gray: #333 !default;
$light-gray: #eee !default;

// Kind Colors
$primary: $blue !default;
$secondary: $dark-blue !default;
$tertiary: $gray !default;
$success: $green !default;
$danger: $red !default;
$warning: $orange !default;
$disabled: #d2d1d1 !default;
$dark: $dark-gray !default;
$light: $light-gray !default;

// State Colors
$invalid: $danger !default;
$required: $warning !default;

// Kind Opposite Colors
$primary--opposite: #fff !default;
$secondary--opposite: #fff !default;
$tertiary--opposite: #333 !default;
$success--opposite: #fff !default;
$danger--opposite: #fff !default;
$warning--opposite: #fff !default;
$disabled--opposite: #666 !default;
$dark--opposite: #fff !default;
$light--opposite: #333 !default;

// State Opposite  Colors
$invalid--opposite: #fff !default;
$required--opposite: #fff !default;

// Kind Light Colors
$primary--light: lighten($primary, 10%) !default;
$secondary--light: lighten($secondary, 10%) !default;
$tertiary--light: lighten($tertiary, 10%) !default;
$success--light: lighten($success, 10%) !default;
$danger--light: lighten($danger, 10%) !default;
$warning--light: lighten($warning, 10%) !default;
$disabled--light: lighten($disabled, 10%) !default;
$dark--light: lighten($dark, 10%) !default;
$light--light: lighten($light, 10%) !default;

// State Light Colors
$invalid--light: $danger--light !default;
$required--light: $warning--light !default;

// Kind Dark Colors
$primary--dark: darken($primary, 10%) !default;
$secondary--dark: darken($secondary, 10%) !default;
$tertiary--dark: darken($tertiary, 10%) !default;
$success--dark: darken($success, 10%) !default;
$danger--dark: darken($danger, 10%) !default;
$warning--dark: darken($warning, 10%) !default;
$disabled--dark: darken($disabled, 10%) !default;
$dark--dark: darken($dark, 10%) !default;
$light--dark: darken($light, 10%) !default;

// State Dark Colors
$invalid--dark: $danger--dark !default;
$required--dark: $warning--dark !default;

// Color Schemes
$blue--lighter: lighten($blue, 10%) !default;
$blue--light: lighten($blue, 5%) !default;
$blue--dark: darken($blue, 5%) !default;
$blue--darker: darken($blue, 10%) !default;

$dark-blue--lighter: lighten($dark-blue, 10%) !default;
$dark-blue--light: lighten($dark-blue, 5%) !default;
$dark-blue--dark: darken($dark-blue, 5%) !default;
$dark-blue--darker: darken($dark-blue, 10%) !default;

$green--lighter: lighten($green, 10%) !default;
$green--light: lighten($green, 5%) !default;
$green--dark: darken($green, 5%) !default;
$green--darker: darken($green, 10%) !default;

$orange--lighter: lighten($orange, 10%) !default;
$orange--light: lighten($orange, 5%) !default;
$orange--dark: darken($orange, 5%) !default;
$orange--darker: darken($orange, 10%) !default;

$red--lighter: lighten($red, 10%) !default;
$red--light: lighten($red, 5%) !default;
$red--dark: darken($red, 5%) !default;
$red--darker: darken($red, 10%) !default;

$gray--lighter: lighten($gray, 10%) !default;
$gray--light: lighten($gray, 5%) !default;
$gray--dark: darken($gray, 5%) !default;
$gray--darker: darken($gray, 10%) !default;

$dark-gray--lighter: lighten($dark-gray, 10%) !default;
$dark-gray--light: lighten($dark-gray, 5%) !default;
$dark-gray--dark: darken($dark-gray, 5%) !default;
$dark-gray--darker: darken($dark-gray, 10%) !default;

$alpha--lighter: rgba(0, 0, 0, 0.1) !default;
$alpha--light: rgba(0, 0, 0, 0.2) !default;
$alpha: rgba(0, 0, 0, 0.3) !default;
$alpha--dark: rgba(0, 0, 0, 0.4) !default;
$alpha--darker: rgba(0, 0, 0, 0.5) !default;
