$themed-border-top: false !default;
$themed-border-bottom: true !default;
$themed-border-left: false !default;
$themed-border-right: false !default;

$themed-borders: (
  "top": $themed-border-top,
  "bottom": $themed-border-bottom,
  "left": $themed-border-left,
  "right": $themed-border-right,
);
