@use "./colors.scss";
@use "./transitions.scss";

$size--extra-small: 24px !default;
$size--small: 30px !default;
$size--medium: 36px !default;
$size--large: 42px !default;

$border-radius: 0 !default;

$border-color--default: #e5e5e5 !default;
$border-color--themed: colors.$primary !default;

$border-width--default: 1px !default;
$border-width--themed: 2px !default;

$border-left-width: $border-width--default !default;
$border-right-width: $border-width--default !default;
$border-top-width: $border-width--default !default;
$border-bottom-width: $border-width--default !default;

$border-left-color: $border-color--default !default;
$border-right-color: $border-color--default !default;
$border-top-color: $border-color--default !default;
$border-bottom-color: $border-color--default !default;

$background: #fcfcfc !default;

$opacity--disabled: 0.5 !default;

$placeholder-color: #999 !default;

$transition: box-shadow 0.2s ease-out, color 0.5s transitions.$main-easing,
  opacity 0.5s transitions.$main-easing, border 0.2s ease-out !default;

$sizes: (
  "extra-small": $size--extra-small,
  "small": $size--small,
  "medium": $size--medium,
  "large": $size--large,
);

$border-colors: (
  "left": $border-left-color,
  "right": $border-right-color,
  "top": $border-top-color,
  "bottom": $border-bottom-color,
);

$border-widths: (
  "left": $border-left-width,
  "right": $border-right-width,
  "top": $border-top-width,
  "bottom": $border-bottom-width,
);
