@use "./colors.scss" as *;
@use "./transitions.scss" as *;

$input-size--extra-small: 24px;
$input-size--small: 31px;
$input-size--medium: 38px;
$input-size--large: 45px;

// Borders
$input-border-radius: 0px !default;

$input-border-left-width: 1px !default;
$input-border-right-width: 1px !default;
$input-border-top-width: 1px !default;
$input-border-bottom-width: 2px !default;

$input-border-left-color: #e5e5e5 !default;
$input-border-right-color: #e5e5e5 !default;
$input-border-top-color: #e5e5e5 !default;
$input-border-bottom-color: $color__primary !default;

$input-background: #fcfcfc !default;

// Other
$input-opacity--disabled: 0.5 !default;
$input__placeholder-color: #999 !default;

$input-transition: box-shadow 0.5s $transition__main-easing,
  color 0.5s $transition__main-easing, opacity 0.5s $transition__main-easing,
  border 0.2s ease-out !default;