@use "./colors.scss";

$size: 0 0 0 4px !default;
$size--closed: 0 0 0 0 !default;

$color--primary: lighten(colors.$primary, 20%) !default;
$color--secondary: lighten(colors.$secondary, 30%) !default;
$color--tertiary: lighten(colors.$tertiary, 15%) !default;
$color--success: lighten(colors.$success, 30%) !default;
$color--danger: lighten(colors.$danger, 30%) !default;
$color--warning: lighten(colors.$warning, 25%) !default;
$color--dark: lighten(colors.$dark, 30%) !default;
$color--light: lighten(colors.$light, 30%) !default;
$color--invalid: lighten(colors.$danger, 30%) !default;
$color--required: lighten(colors.$warning, 25%) !default;
