@import "./colors.scss";

$border-radius: 0px !default;

$border-left-size: 2px solid !default;
$border-right-size: 2px solid !default;
$border-top-size: 2px solid !default;
$border-bottom-size: 2px solid !default;

$border-color--default: $color__primary !default;
$border-color--open: $color__dark-gray-2 !default;
$border-color--pending: $color__blue-4 !default;
$border-color--invalid: $color__danger !default;
$border-color--required: $color__warning !default;
