@import "./colors.scss";

// Borders
$input-border-radius: 0px !default;

$input-border-left-size: 2px solid !default;
$input-border-right-size: 2px solid !default;
$input-border-top-size: 2px solid !default;
$input-border-bottom-size: 2px solid !default;

$input-border-color--default: $color__primary !default;
$input-border-color--invalid: $color__danger !default;
$input-border-color--required: $color__warning !default;

$input-background--default: $color__gray-1 !default;
$input-background--invalid: $color__gray-1 !default;
$input-background--required: $color__gray-1 !default;

// Other
$input-opacity--disabled: 0.5 !default;
$input__placeholder-color: #999 !default;