@use "sass:map";
@import "./shadow.scss";
@import "./colors.scss";

$kinds: "primary", "secondary", "tertiary", "success", "danger", "warning",
  "dark", "light";

$theme-colors--active: (
  "primary": $color__primary--active,
  "secondary": $color__secondary--active,
  "tertiary": $color__tertiary--active,
  "success": $color__success--active,
  "danger": $color__danger--active,
  "warning": $color__warning--active,
  "dark": $color__dark--active,
  "light": $color__light--active,
);

$theme-colors: (
  "primary": $color__primary,
  "secondary": $color__secondary,
  "tertiary": $color__tertiary,
  "success": $color__success,
  "danger": $color__danger,
  "warning": $color__warning,
  "dark": $color__dark,
  "light": $color__light,
);

$theme-colors--darken: (
  "primary": $color__primary--darken,
  "secondary": $color__secondary--darken,
  "tertiary": $color__tertiary--darken,
  "success": $color__success--darken,
  "danger": $color__danger--darken,
  "warning": $color__warning--darken,
  "dark": $color__dark--darken,
  "light": $color__light--darken,
);

$theme-shadows: (
  "primary": $shadow-color--primary,
  "secondary": $shadow-color--secondary,
  "tertiary": $shadow-color--tertiary,
  "success": $shadow-color--success,
  "danger": $shadow-color--danger,
  "warning": $shadow-color--warning,
  "dark": $shadow-color--dark,
  "light": $shadow-color--light,
);
