@use "../../scss/base/colors.scss" as *;

.rc-spinner {
  transform: translateZ(0);
  overflow: hidden;
}

.rc-spinner--center {
  display: flex;
  width: 100%;
  height: 100%;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.rc-spinner__component {
  animation: rotateSpinner 3s linear infinite;
}

.rc-spinner__svg-path {
  animation: rotateSpinner 0.8s cubic-bezier(0.53, 0.26, 0.54, 0.74) infinite;
  fill: none;
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke-linecap: round;
  stroke: $color__primary;
}

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
