@import "../scss/vars/colors.scss";
@import "../scss/vars/transitions.scss";

.rc-select {
  flex: 2 1 auto;
  vertical-align: middle;
  position: relative;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $color__dark-gray-3;
}

.rc-select--filtering {
  color: $color__blue-4;
}

.rc-select__indicator {
  margin-top: 2px;
  transform: rotateZ(90deg) rotateY(0deg);
  transition: all 0.2s linear;
}

.rc-select__indicator--open {
  transform: rotateZ(90deg) rotateY(180deg);
}
