@use "../../scss/base/colors.scss" as *;
@use "../../scss/base/transitions.scss" as *;
@use "../../scss/components/fields.scss" as *;

.rc-select {
  @include rc-field-input;

  flex: 2 1 auto;
  vertical-align: middle;
  position: relative;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $color__dark-gray;
}

.rc-select--filtering {
  color: $color__blue--dark;
}
