@use "sass:map";
@use "../../scss/components/any.scss";
@use "../../scss/themes.scss";

.rc-layout {
  @include any.rc-component;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rc-layout__content {
  @include any.rc-component;

  flex: 1 1 auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  overflow: hidden;
}

.rc-layout__page {
  @include any.rc-component;

  overflow-x: hidden;
  flex: 1 1 auto;
  padding: 20px;
}

.rc-layout__side-menu {
  @include any.rc-component;

  flex: 0 0 200px;
  border-right: 1px solid #ccc;
  background: #eee;
}
