@use "sass:map";
@use "../../scss/base/colors.scss";
@use "../../scss/mixins/any.scss";

.rc-calendar {
  @include any.rc-component;

  font-size: 13px;
  padding: 5px;
  display: inline-block;
}

.rc-calendar__button {
  padding: 6px;
}

.rc-calendar__cell {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
}

.rc-calendar__table {
  @include any.rc-component;

  border-spacing: 0;
  border-collapse: collapse;

  th,
  td {
    padding: 0;
  }
}

.rc-calendar__year-row {
  border-bottom: 2px solid #ddd;
}

.rc-calendar__year {
  height: 40px;
  font-size: 20px;
}

.rc-calendar__year-prev,
.rc-calendar__month-prev {
  @extend .rc-calendar__button;

  transform: rotate(180deg);
}

.rc-calendar__year-next,
.rc-calendar__month-next {
  @extend .rc-calendar__button;
}

.rc-calendar__month {
  height: 40px;
  font-size: 16px;
}

.rc-calendar__dayname {
  @extend .rc-calendar__cell;

  color: #666;
  font-size: 11px;
  height: 24px;
  border-bottom: 2px solid #eee;
}

.rc-calendar__day {
  @extend .rc-calendar__cell;

  cursor: pointer;

  &:hover {
    background: #eee;
    color: colors.$secondary;
    transition: all 0.05s linear;
  }

  &.rc-calendar__day--empty {
    background: #fafafa;
    cursor: initial;
  }

  &.rc-calendar__day--today {
    border: 2px solid colors.$primary;
  }

  &.rc-calendar__day--selected {
    background: colors.$secondary;
    color: #fff;
    font-weight: bold;
  }

  &.rc-calendar__day--range-between {
    color: #fff;
    background: colors.$secondary--light;
  }

  &.rc-calendar__day--range-selected {
    color: #fff;
    background: colors.$secondary;
  }

  &.rc-calendar__day--disabled {
    cursor: initial;
    color: colors.$disabled;
    background: #eee;
  }
}
