@use "sass:map";
@use "sass:math";
@use "../../scss/functions.scss";
@use "../../scss/base/colors.scss";
@use "../../scss/mixins/any.scss";

$cell-size: 40px;
$cell-content-spacing: 3px;
$cell-content-size: $cell-size - $cell-content-spacing * 2;
$cell-content-border-radius: math.div(
    functions.strip-units($cell-content-size),
    2
  ) + px;

.rc-calendar {
  @include any.rc-component;

  font-size: 13px;
  padding: 5px;
  display: inline-block;
}

.rc-calendar__button {
  padding: 6px;
}

.rc-calendar__cell {
  box-sizing: border-box;
  width: $cell-size;
  height: $cell-size;
  vertical-align: middle;
  text-align: center;
}

.rc-calendar__table {
  @include any.rc-component;

  border-spacing: 0;
  border-collapse: collapse;

  th,
  td {
    padding: 0;
  }
}

.rc-calendar__year-row {
  border-bottom: 2px solid #ddd;
}

.rc-calendar__year {
  height: $cell-size;
  font-size: 20px;
}

.rc-calendar__year-prev,
.rc-calendar__month-prev {
  @extend .rc-calendar__button;

  transform: rotate(180deg);
}

.rc-calendar__year-next,
.rc-calendar__month-next {
  @extend .rc-calendar__button;
}

.rc-calendar__month {
  height: $cell-size;
  font-size: 16px;
}

.rc-calendar__dayname {
  @extend .rc-calendar__cell;

  color: #666;
  font-size: 11px;
  height: 24px;
  border-bottom: 2px solid #eee;
}

@mixin rc-calendar__day--selected {
  box-sizing: border-box;
  font-weight: bold;
  color: colors.$secondary--opposite;
  background: colors.$secondary;
}

@mixin rc-calendar__day--selected-left {
  @include rc-calendar__day--selected;

  width: $cell-size - $cell-content-spacing;
  margin-left: $cell-content-spacing;
  padding-right: $cell-content-spacing;
  border-top-left-radius: $cell-content-border-radius;
  border-bottom-left-radius: $cell-content-border-radius;
}

@mixin rc-calendar__day--selected-right {
  @include rc-calendar__day--selected;

  width: $cell-size - $cell-content-spacing;
  margin-right: $cell-content-spacing;
  padding-left: $cell-content-spacing;
  border-top-right-radius: $cell-content-border-radius;
  border-bottom-right-radius: $cell-content-border-radius;
}

.rc-calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: $cell-content-size;
  height: $cell-content-size;

  &.rc-calendar__day--empty {
    background: #fafafa;
    cursor: initial;
  }

  &.rc-calendar__day--selected {
    @include rc-calendar__day--selected-left;
    @include rc-calendar__day--selected-right;

    width: $cell-content-size;
    padding: 0;
  }

  &.rc-calendar__day--range-between {
    width: $cell-size;
    color: colors.$secondary--opposite;
    background: colors.$secondary--light;
  }

  &.rc-calendar__day--range-start {
    @include rc-calendar__day--selected-left;
  }

  &.rc-calendar__day--range-end {
    @include rc-calendar__day--selected-right;
  }

  &.rc-calendar__day--range-start.rc-calendar__day--range-end {
    width: $cell-content-size;
  }

  &.rc-calendar__day--range-partial {
    @include rc-calendar__day--selected-left;
    @include rc-calendar__day--selected-right;

    width: $cell-content-size;
    padding: 0;
  }
}

.rc-calendar__day__cell {
  @extend .rc-calendar__cell;

  vertical-align: middle;
  text-align: center;
  cursor: pointer;

  &.rc-calendar__day__cell--today {
    position: relative;

    &::before {
      cursor: pointer;
      content: "";
      box-shadow: 0 0 0 2px colors.$primary;
      border-radius: 20px;
      position: absolute;
      z-index: 3;
      width: 38px;
      height: 38px;
      top: 1px;
      left: 1px;
    }
  }

  &.rc-calendar__day__cell--disabled {
    cursor: initial;
    color: colors.$disabled;
    background: #eee;
    pointer-events: none;
  }

  &:hover {
    .rc-calendar__day:not(.rc-calendar__day--selected):not(.rc-calendar__day--range-between):not(.rc-calendar__day--range-start):not(.rc-calendar__day--range-end):not(.rc-calendar__day--range-partial) {
      background: #eee;
      color: colors.$secondary;
      font-weight: bold;
      border-radius: $cell-content-border-radius;
    }
  }
}
