@use "sass:map";
@use "../../scss/themes.scss";
@use "../../scss/base/colors.scss";
@use "../../scss/components/any.scss";

.rc-modal__portal {
  @include any.rc-component;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rc-modal__overlay {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.rc-modal {
  @include any.rc-component;

  position: absolute;
  left: 50%;
  background: #fff;
  box-shadow: 0 6px 0 colors.$alpha--light;
  flex: 0 0 auto;
  opacity: 0;
  display: flex;
  flex-direction: column;
  animation: fadeInModalBox 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1;
}

.rc-modal--maximise {
  bottom: 20px;
}

.rc-modal__header {
  @include any.rc-component;

  width: 100%;
  display: flex;
  background: #eee;
  border-bottom: 2px solid colors.$alpha--light;
}

.rc-modal__header--default-view {
  height: 60px;
}

@each $kind in themes.$kinds {
  .rc-modal__header--#{$kind} {
    background: map.get(themes.$colors, $kind);

    .rc-modal__header__title {
      color: map.get(themes.$colors--opposite, $kind);
    }

    .rc-modal__header__close {
      fill: map.get(themes.$colors--opposite, $kind);
    }
  }
}

.rc-modal__header__title {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
  color: #666;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rc-modal__header__close-container {
  margin-left: 10px;
  margin-right: 18px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rc-modal__content {
  @include any.rc-component;

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;
  border-bottom: 1px solid #ccc;
}

.rc-modal__content--default-view {
  padding: 20px;
}

.rc-modal__footer {
  @include any.rc-component;

  width: 100%;
  background: #f8f8f8;
  display: flex;
  flex: 0 0 auto;
}

.rc-modal__footer--default-view {
  height: 55px;
}

.rc-modal__footer__buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.rc-modal__footer__button {
  margin-left: 10px;
}

@keyframes fadeInModalBox {
  0% {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInModalOverlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
