@use "sass:map";
@import "../../scss/base/colors.scss";
@import "../../scss/base/shadows.scss";
@import "../../scss/themes.scss";
@import "../../scss/mixins.scss";

.rc-message-box {
  @include rc-component;
  border: 2px solid;
  min-height: 24px;
  padding: 3px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: initial;
  border-color: transparent;
  overflow: hidden;
}

.rc-message-box--default {
  fill: #333;
  color: #333;
  background-color: #eee;

  &.rc-message-box--inverted {
    fill: #eee;
    color: #eee;
    background-color: #333;
  }
}

@each $kind in $kinds {
  $base-color: map-get($theme-colors, $kind);
  $light-color: lighten(map-get($theme-shadows, $kind), 10%);

  .rc-message-box--#{$kind} {
    fill: $base-color;
    color: $base-color;
    background-color: $light-color;

    &.rc-message-box--inverted {
      fill: $light-color;
      color: $light-color;
      background-color: $base-color;
    }
  }
}

.rc-message-box--centered {
  align-items: center;
  justify-content: center;
}

.rc-message-box--active {
  border-color: currentColor;
}

.rc-message-box__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 2px;
}

.rc-message-box__messages {
  flex: 1 1 auto;
}
.rc-message-box__messages--centered {
  flex: 0 0 auto;
}
