@use "../../scss/base/colors.scss";
@use "../../scss/base/transitions.scss" as *;
@use "../../scss/components/field.scss";

.rc-fileuploader__input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.rc-fileuploader {
  @include field.rc-field-input;

  flex: 2 1 auto;
  position: relative;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: colors.$dark-gray;
}
