@use "../../scss/mixins/form.scss";
@use "../../scss/mixins/any.scss";

.rc-fileuploader {
  @include any.rc-component;
  @include form.input;
}

.rc-fileuploader__input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}
