@import "../../scss/vars/colors.scss";
@import "../../scss/vars/transitions.scss";
@import "../../scss/mixins.scss";

.rc-fileuploader__input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.rc-fileuploader {
  @include rc-field-input;
  flex: 2 1 auto;
  position: relative;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $color__dark-gray-3;
}
