@use "sass:map";
@use "../../../scss/themes.scss";
@use "../../../scss/base/colors.scss";

@each $kind in themes.$kinds {
  .color-scheme--regular-#{$kind} {
    background: map.get(themes.$colors, $kind);
  }

  .color-scheme--active-#{$kind} {
    background: map.get(themes.$colors--light, $kind);
  }

  .color-scheme--darken-#{$kind} {
    background: map.get(themes.$colors--dark, $kind);
  }

  .color-scheme--shadows-#{$kind} {
    background: map.get(themes.$shadows, $kind);
  }
}

@each $state in themes.$states {
  .color-scheme--regular-#{$state} {
    background: map.get(themes.$colors, $state);
  }

  .color-scheme--active-#{$state} {
    background: map.get(themes.$colors--light, $state);
  }

  .color-scheme--darken-#{$state} {
    background: map.get(themes.$colors--dark, $state);
  }

  .color-scheme--shadows-#{$state} {
    background: map.get(themes.$shadows, $state);
  }
}

@each $weight in themes.$weights {
  .color-scheme-blue--#{$weight} {
    background: map.get(themes.$color__blue, $weight);
  }
  .color-scheme-dark-blue--#{$weight} {
    background: map.get(themes.$color__dark-blue, $weight);
  }
  .color-scheme-green--#{$weight} {
    background: map.get(themes.$color__green, $weight);
  }
  .color-scheme-orange--#{$weight} {
    background: map.get(themes.$color__orange, $weight);
  }
  .color-scheme-red--#{$weight} {
    background: map.get(themes.$color__red, $weight);
  }
  .color-scheme-gray--#{$weight} {
    background: map.get(themes.$color__gray, $weight);
  }
  .color-scheme-dark-gray--#{$weight} {
    background: map.get(themes.$color__dark-gray, $weight);
  }
  .color-scheme-alpha--#{$weight} {
    background: map.get(themes.$color__alpha, $weight);
  }
}
