.label {
  font-family: Verdana, sans-serif;
  background: #eee;
  border-radius: 3px;
}

.label--small {
  margin: 2px;
  box-shadow: 0 0 2px -1px #999 inset;
  padding: 4px;
  font-size: 10px;
}

.label--medium {
  margin: 3px;
  box-shadow: 0 0 4px -2px #999 inset;
  padding: 8px;
  font-size: 11px;
}

.label--large {
  margin: 4px;
  box-shadow: 0 0 6px -3px #999 inset;
  padding: 10px;
  font-size: 0.75rem;
}

.label--variable {
  color: #ef476f;
}
