@use "../../../scss/mixins/any.scss";

.rc-datepicker__calendar {
  position: absolute;
  z-index: 100000;
  left: 0;
  width: 506px;
  padding: 3px 0;
}

.rc-datepicker__calendar__container {
  @include any.rc-overlay;

  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.rc-datepicker__calendar__container__time {
  padding-top: 3px;
}
