.rc-datepicker__calendar {
  position: absolute;
  z-index: 100000;
  left: 0;
  width: 250px;
  max-height: 300px;
  padding: 3px;
}

.rc-datepicker__calendar__container {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
