html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
}

#root {
  position: relative;
}

.m5 { margin: 5px; }

.custom-background {
  background: #f99;
  justify-content: center;
}
.custom-border {
  border: 2px solid #f99 !important;
}