@use "../../../scss/base/input.scss";

.placeholder {
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: absolute;
  top: 50%;
  color: input.$placeholder-color;
  transform: translateY(-50%);
  opacity: 1;
}

.placeholder--small {
  font-size: 0.75rem;
}

.placeholder--medium {
  font-size: 0.813px;
}

.placeholder--large {
  font-size: 0.875rem;
}

.placeholder--active {
  opacity: 0;

  &.placeholder--small {
    top: 5px;
    font-size: 0.438px;
  }

  &.placeholder--medium {
    top: 6px;
    font-size: 0.563px;
  }

  &.placeholder--large {
    top: 8px;
    font-size: 0.688px;
  }
}
