@use "../../../scss/components/fields.scss" as *;

.rc-select__indicator {
  @include rc-field-icon;

  margin-top: 1px;
  transform: rotateZ(90deg) rotateY(0deg);
  transition: all 0.2s linear;
}

.rc-select__indicator--open {
  transform: rotateZ(90deg) rotateY(180deg);
}
