@use "../../../scss/base/colors.scss";
@use "../../../scss/components/input.scss";
@use "../../../scss/components/any.scss";

.rc-select__options {
  @include any.rc-overlay;

  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1000;
  animation: fadeInOptions 0.15s ease-in-out;
  overflow-y: auto;
  border-bottom: 2px solid colors.$tertiary;
  border-radius: input.$border-radius;
}

.rc-select__options--reverse {
  border-top: 2px solid colors.$tertiary;
  border-bottom: none;
}

.rc-select__option {
  outline: none;
  display: flex;
  align-items: center;
  flex: 0 0 40px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  font-size: 13px;
  border-left: 2px solid colors.$gray;
  border-right: 2px solid colors.$gray;
  cursor: pointer;
  color: colors.$dark-gray--lighter;
  fill: colors.$dark-gray--lighter;
  transition: border 0.05s ease-out, background 0.05s ease-out,
    color 0.05s ease-out;
}

.rc-select__option--small {
  padding-left: 6px;
  padding-right: 6px;
  line-height: 30px;
  font-size: 11px;
  flex-basis: 30px;
}

.rc-select__option--medium {
  padding-left: 8px;
  padding-right: 8px;
  line-height: 35px;
  font-size: 0.75rem;
  flex-basis: 35px;
}

.rc-select__option--large {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  font-size: 13px;
  flex-basis: 40px;
}

.rc-select__option:hover,
.rc-select__option--highlighted {
  background: colors.$tertiary--light;
  border-color: colors.$tertiary--light;
  color: colors.$dark-gray;
  fill: colors.$dark-gray;
}

.rc-select__option--selected,
.rc-select__option--selected:hover {
  background: colors.$primary--dark;
  border-color: colors.$primary--dark;
  color: #fff;
  fill: #fff;
}

.rc-select__option--disabled,
.rc-select__option--disabled:hover {
  background: #fff;
  color: colors.$disabled;
  border-color: colors.$disabled;
  cursor: auto;
}

.rc-select__option--clear {
  color: #999;
  fill: #999;
  background: #fee;
}

.rc-select__option--clear:hover {
  color: colors.$danger;
  fill: colors.$danger;
  background: #fee;
}

.rc-select__option__icon {
  margin-right: 5px;
}

.rc-select__option__icon--clear {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.rc-select__option__label {
  min-width: 0;
}

.rc-select__option__label--clear {
  margin-left: 10px;
}

.rc-select__option--no-options__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #fff;
  color: colors.$gray--darker;
  fill: colors.$gray--darker;
  line-height: 40px;
  border-left: 2px solid colors.$tertiary;
  border-right: 2px solid colors.$tertiary;
}

.rc-select__option--no-options__message {
  margin-left: 10px;
}

@keyframes fadeInOptions {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
