@use "../../scss/components/any.scss";
@use "../../scss/components/input.scss";
@use "../../scss/functions.scss";

.rc-formfield {
  display: inline-flex;
  flex-direction: column;
}

.rc-formfields--column {
  margin-bottom: 10px;
}

.rc-formfield-inline--column {
  margin-bottom: 10px;
}

.rc-formfield--column {
  margin-bottom: 10px;
}

.rc-formfields--row {
  margin-right: 10px;
}

.rc-formfield-inline--row {
  margin-right: 10px;
}

.rc-formfield--row {
  margin-right: 10px;
}
