@use "../../scss/themes.scss";
@use "sass:map";
@use "sass:math";

.rc-icon-button {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  outline: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;

  &:active {
    fill: #333;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transform: scale3d(0.5, 0.5, 1);
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 1;
  }

  &:hover,
  &:focus {
    &:not(.rc-icon-button--disabled) {
      &::before {
        opacity: 1;
        transform: scale3d(math.sqrt(2), math.sqrt(2), 1);
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

.rc-icon-button--disabled {
  cursor: initial;
  fill: #ccc;
}

.rc-icon-button__icon {
  z-index: 3;
}

.rc-icon-button--default {
  fill: #666;

  &:active {
    fill: #333;
  }

  &::before {
    background: rgba(0, 0, 0, 0.1);
  }
}

@each $kind in themes.$kinds {
  .rc-icon-button--#{$kind} {
    fill: map.get(themes.$colors, $kind);

    &:active {
      fill: map.get(themes.$colors--dark, $kind);
    }

    &::before {
      background-color: rgba(map.get(themes.$shadows, $kind), 0.8);
    }
  }
}
