@import "./vars/fonts.scss";

@mixin rc-component {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-family: $font__primary, $font__primary-fallback;
  letter-spacing: $font__primary-spacing;
  -webkit-font-smoothing: antialiased;
}

@mixin rc-field-icon {
  flex: 0 0 auto;
  fill: #999;
  margin-left: 5px;
}

@mixin rc-field-input {
  &--small {
    font-size: 12px;
  }
  &--medium {
    font-size: 13px;
  }
  &--large {
    font-size: 14px;
  }
}
