@use "./base/fonts.scss" as *;
@use "./base/inputs.scss" as *;
@use "./functions.scss" as *;

@mixin rc-component {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-family: $font-family, $font-family-fallback;
  letter-spacing: $letter-spacing;
  -webkit-font-smoothing: antialiased;
}

@mixin rc-field-icon {
  flex: 0 0 auto;
  fill: #999;
  margin-left: 5px;
}

@mixin rc-field-input {
  &--small {
    font-size: inputFontSize($input-size--small);
  }
  &--medium {
    font-size: inputFontSize($input-size--medium);
  }
  &--large {
    font-size: inputFontSize($input-size--large);
  }
}
