@use "sass:map";
@use "./base/shadows.scss";
@use "./base/colors.scss";

$states: "invalid", "required";

$kinds: "primary", "secondary", "tertiary", "success", "danger", "warning",
  "dark", "light";

$weights: "lighter", "light", "regular", "dark", "darker";

// Kind Themes
$colors: (
  "primary": colors.$primary,
  "secondary": colors.$secondary,
  "tertiary": colors.$tertiary,
  "success": colors.$success,
  "danger": colors.$danger,
  "warning": colors.$warning,
  "dark": colors.$dark,
  "light": colors.$light,
  "invalid": colors.$invalid,
  "required": colors.$required,
);

$colors--opposite: (
  "primary": colors.$primary--opposite,
  "secondary": colors.$secondary--opposite,
  "tertiary": colors.$tertiary--opposite,
  "success": colors.$success--opposite,
  "danger": colors.$danger--opposite,
  "warning": colors.$warning--opposite,
  "dark": colors.$dark--opposite,
  "light": colors.$light--opposite,
  "invalid": colors.$invalid--opposite,
  "required": colors.$required--opposite,
);

$colors--light: (
  "primary": colors.$primary--light,
  "secondary": colors.$secondary--light,
  "tertiary": colors.$tertiary--light,
  "success": colors.$success--light,
  "danger": colors.$danger--light,
  "warning": colors.$warning--light,
  "dark": colors.$dark--light,
  "light": colors.$light--light,
  "invalid": colors.$invalid--light,
  "required": colors.$required--light,
);

$colors--dark: (
  "primary": colors.$primary--dark,
  "secondary": colors.$secondary--dark,
  "tertiary": colors.$tertiary--dark,
  "success": colors.$success--dark,
  "danger": colors.$danger--dark,
  "warning": colors.$warning--dark,
  "dark": colors.$dark--dark,
  "light": colors.$light--dark,
  "invalid": colors.$invalid--dark,
  "required": colors.$required--dark,
);

$shadows: (
  "primary": shadows.$color--primary,
  "secondary": shadows.$color--secondary,
  "tertiary": shadows.$color--tertiary,
  "success": shadows.$color--success,
  "danger": shadows.$color--danger,
  "warning": shadows.$color--warning,
  "dark": shadows.$color--dark,
  "light": shadows.$color--light,
  "invalid": shadows.$color--invalid,
  "required": shadows.$color--required,
);

// Color schemes
$blue: (
  "lighter": colors.$blue--lighter,
  "light": colors.$blue--light,
  "regular": colors.$blue,
  "dark": colors.$blue--dark,
  "darker": colors.$blue--darker,
);

$dark-blue: (
  "lighter": colors.$dark-blue--lighter,
  "light": colors.$dark-blue--light,
  "regular": colors.$dark-blue,
  "dark": colors.$dark-blue--dark,
  "darker": colors.$dark-blue--darker,
);

$green: (
  "lighter": colors.$green--lighter,
  "light": colors.$green--light,
  "regular": colors.$green,
  "dark": colors.$green--dark,
  "darker": colors.$green--darker,
);

$orange: (
  "lighter": colors.$orange--lighter,
  "light": colors.$orange--light,
  "regular": colors.$orange,
  "dark": colors.$orange--dark,
  "darker": colors.$orange--darker,
);

$red: (
  "lighter": colors.$red--lighter,
  "light": colors.$red--light,
  "regular": colors.$red,
  "dark": colors.$red--dark,
  "darker": colors.$red--darker,
);

$gray: (
  "lighter": colors.$gray--lighter,
  "light": colors.$gray--light,
  "regular": colors.$gray,
  "dark": colors.$gray--dark,
  "darker": colors.$gray--darker,
);

$dark-gray: (
  "lighter": colors.$dark-gray--lighter,
  "light": colors.$dark-gray--light,
  "regular": colors.$dark-gray,
  "dark": colors.$dark-gray--dark,
  "darker": colors.$dark-gray--darker,
);

$alpha: (
  "lighter": colors.$alpha--lighter,
  "light": colors.$alpha--light,
  "regular": colors.$alpha,
  "dark": colors.$alpha--dark,
  "darker": colors.$alpha--darker,
);
