@use "sass:map";
@import "./base/shadow.scss";
@import "./base/colors.scss";

$kinds: "primary", "secondary", "tertiary", "success", "danger", "warning",
  "dark", "light";

$theme-colors: (
  "primary": $color__primary,
  "secondary": $color__secondary,
  "tertiary": $color__tertiary,
  "success": $color__success,
  "danger": $color__danger,
  "warning": $color__warning,
  "dark": $color__dark,
  "light": $color__light,
  "invalid": $color__invalid,
  "required": $color__required,
);

$theme-colors--light: (
  "primary": $color__primary--light,
  "secondary": $color__secondary--light,
  "tertiary": $color__tertiary--light,
  "success": $color__success--light,
  "danger": $color__danger--light,
  "warning": $color__warning--light,
  "dark": $color__dark--light,
  "light": $color__light--light,
  "invalid": $color__invalid--light,
  "required": $color__required--light,
);

$theme-colors--dark: (
  "primary": $color__primary--dark,
  "secondary": $color__secondary--dark,
  "tertiary": $color__tertiary--dark,
  "success": $color__success--dark,
  "danger": $color__danger--dark,
  "warning": $color__warning--dark,
  "dark": $color__dark--dark,
  "light": $color__light--dark,
  "invalid": $color__invalid--dark,
  "required": $color__required--dark,
);

$theme-shadows: (
  "primary": $shadow-color--primary,
  "secondary": $shadow-color--secondary,
  "tertiary": $shadow-color--tertiary,
  "success": $shadow-color--success,
  "danger": $shadow-color--danger,
  "warning": $shadow-color--warning,
  "dark": $shadow-color--dark,
  "light": $shadow-color--light,
  "invalid": $shadow-color--invalid,
  "required": $shadow-color--required,
);
