@use "./base/colors.scss";

:root {
  --color__blue: #{colors.$blue};
  --color__dark-blue: #{colors.$dark-blue};
  --color__green: #{colors.$green};
  --color__red: #{colors.$red};
  --color__orange: #{colors.$orange};
  --color__gray: #{colors.$gray};
  --color__dark-gray: #{colors.$dark-gray};
  --color__light-gray: #{colors.$light-gray};

  // Main Colors
  --color__primary: #{colors.$primary};
  --color__secondary: #{colors.$secondary};
  --color__tertiary: #{colors.$tertiary};
  --color__success: #{colors.$success};
  --color__danger: #{colors.$danger};
  --color__warning: #{colors.$warning};
  --color__disabled: #{colors.$disabled};
  --color__dark: #{colors.$dark};
  --color__light: #{colors.$light};
  --color__invalid: #{colors.$invalid};
  --color__required: #{colors.$required};

  // Light Version
  --color__primary--light: #{colors.$primary--light};
  --color__secondary--light: #{colors.$secondary--light};
  --color__tertiary--light: #{colors.$tertiary--light};
  --color__success--light: #{colors.$success--light};
  --color__danger--light: #{colors.$danger--light};
  --color__warning--light: #{colors.$warning--light};
  --color__disabled--light: #{colors.$disabled--light};
  --color__dark--light: #{colors.$dark--light};
  --color__light--light: #{colors.$light--light};
  --color__invalid--light: #{colors.$invalid--light};
  --color__required--light: #{colors.$required--light};

  // Dark Version
  --color__primary--dark: #{colors.$primary--dark};
  --color__secondary--dark: #{colors.$secondary--dark};
  --color__tertiary--dark: #{colors.$tertiary--dark};
  --color__success--dark: #{colors.$success--dark};
  --color__danger--dark: #{colors.$danger--dark};
  --color__warning--dark: #{colors.$warning--dark};
  --color__disabled--dark: #{colors.$disabled--dark};
  --color__dark--dark: #{colors.$dark--dark};
  --color__light--dark: #{colors.$light--dark};
  --color__invalid--dark: #{colors.$invalid--dark};
  --color__required--dark: #{colors.$required--dark};

  // Color Schemes
  --color__blue--lighter: #{colors.$blue--lighter};
  --color__blue--light: #{colors.$blue--light};
  --color__blue--dark: #{colors.$blue--dark};
  --color__blue--darker: #{colors.$blue--darker};
  --color__dark-blue--lighter: #{colors.$dark-blue--lighter};
  --color__dark-blue--light: #{colors.$dark-blue--light};
  --color__dark-blue--dark: #{colors.$dark-blue--dark};
  --color__dark-blue--darker: #{colors.$dark-blue--darker};
  --color__green--lighter: #{colors.$green--lighter};
  --color__green--light: #{colors.$green--light};
  --color__green--dark: #{colors.$green--dark};
  --color__green--darker: #{colors.$green--darker};
  --color__orange--lighter: #{colors.$orange--lighter};
  --color__orange--light: #{colors.$orange--light};
  --color__orange--dark: #{colors.$orange--dark};
  --color__orange--darker: #{colors.$orange--darker};
  --color__red--lighter: #{colors.$red--lighter};
  --color__red--light: #{colors.$red--light};
  --color__red--dark: #{colors.$red--dark};
  --color__red--darker: #{colors.$red--darker};
  --color__gray--lighter: #{colors.$gray--lighter};
  --color__gray--light: #{colors.$gray--light};
  --color__gray--dark: #{colors.$gray--dark};
  --color__gray--darker: #{colors.$gray--darker};
  --color__dark-gray--lighter: #{colors.$dark-gray--lighter};
  --color__dark-gray--light: #{colors.$dark-gray--light};
  --color__dark-gray--dark: #{colors.$dark-gray--dark};
  --color__dark-gray--darker: #{colors.$dark-gray--darker};
  --color__alpha--lighter: #{colors.$alpha--lighter};
  --color__alpha--light: #{colors.$alpha--light};
  --color__alpha: #{colors.$alpha};
  --color__alpha--dark: #{colors.$alpha--dark};
  --color__alpha--darker: #{colors.$alpha--darker};
}
