@import "./colors.scss";

$background--default: $color__gray-1 !default;
$background--open: $color__gray-1 !default;
$background--pending: $color__gray-1 !default;
$background--invalid: $color__gray-1 !default;
$background--required: $color__gray-1 !default;
