@import "./colors.scss";

$shadow-size: 0px 0px 0px 3px !default;
$shadow-size--closed: 0px 0px 0px 0px !default;

$shadow-color--default: lighten($color__blue-3, 30%) !default;
$shadow-color--pending: lighten($color__blue-4, 30%) !default;
$shadow-color--invalid: lighten($color__main-danger, 30%) !default;
$shadow-color--required: lighten($color__main-warning, 25%) !default;

$shadow-color--primary: lighten($color__main-primary, 20%) !default;
$shadow-color--secondary: lighten($color__main-secondary, 30%) !default;
$shadow-color--tertiary: lighten($color__main-tertiary, 15%) !default;
$shadow-color--success: lighten($color__main-success, 30%) !default;
$shadow-color--danger: lighten($color__main-danger, 30%) !default;
$shadow-color--warning: lighten($color__main-warning, 25%) !default;
$shadow-color--dark: lighten($color__main-dark, 30%) !default;
$shadow-color--light: lighten($color__main-light, 30%) !default;