$transition__main-easing: cubic-bezier(0.075, 0.82, 0.165, 1) !default;

$input__main-transition: box-shadow 0.5s $transition__main-easing, color 0.2s $transition__main-easing,
  background 0.2s ease-out, border 0.2s ease-out, margin 0.2s ease-out,
  padding 0.2s ease-out !default;

$button__main-transition: box-shadow 0.5s $transition__main-easing, color 0.2s $transition__main-easing,
  background 0.05s ease-out, margin 0.01s linear !default;
